<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=<% settings.charset %>" />
        <title>Arbor Augmented Reality Service</title>
        <link rel="stylesheet" href="<% request.uri_base %>/css/login.css" />

        <!-- Grab Google CDN's jQuery. fall back to local if necessary -->
        <script src="<% request.uri_base %>/javascripts/jquery-1.7.1.min.js" type="text/javascript"></script>
        <script src="<% request.uri_base %>/javascripts/jquery.qrcode.min.js" type="text/javascript"></script>
    </head>
<body>
    <% content %>
    <div id="footer" style="text-align:center;">
        &copy; Dean Pearce 2012
    </div>
</body>
</html>
